{% include body/menu.html %}

<script type="text/javascript">
    google_ad_client = "ca-pub-2606770756912688";
    google_ad_slot = "5154527092";
    google_ad_width = 970;
    google_ad_height = 90;
</script>
<!-- Main -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<hy-push-state
  replace-ids="_main"
  link-selector="a[href]:not([href*='/assets/']):not(.external):not(.no-push-state)"
  duration="250"
  script-selector="script:not([type^='math/tex'])"
  prefetch
>
  {% if page.cover %}
    {% include body/sidebar.html %}
    {% include body/main.html %}
  {% else %}
    {% include body/main.html %}
    {% include body/sidebar.html %}
  {% endif %}
</hy-push-state>

{% include body/scripts.html %}
{% include my-body.html %}

{% include templates/index.html %}
