<main
  id="_main"
  class="content fade-in layout-{{ page.layout }}"
  role="main"
  data-color="{{ color | escape }}"
  data-theme-color="{{ theme_color | escape }}"
  {% unless image.background %}
    data-image="{% if image == 'none' %}none{% else %}{% capture tmp %}{% include smart-url.txt url=image %}{% endcapture %}{{ tmp | escape }}{% endif %}"
    {% if image != 'none' %}data-overlay{% endif %}
  {% else %}
    data-background="{{ image.background | escape }}"
    {% if image.overlay %}data-overlay{% endif %}
  {% endunless %}
  >
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
     style="display:block; border-bottom: initial;"
     data-ad-client="ca-pub-2606770756912688"
     data-ad-format="auto"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
  {{ content }}
  {% include body/comments.html %}
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
     style="display:block; border-bottom: initial;"
     data-ad-client="ca-pub-2606770756912688"
     data-ad-format="auto"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
  {% include body/footer.html %}
</main>
